/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

:root{
    --green: #117050;
    --gray-border: #9999 ;
    --button: #454545;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header .line{
    background-color: var(--green);
    height: 10px;
}

.button{
    border: 2px solid var(--button);
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: var(--button);
    text-decoration: none;
}

.button:hover{
    color: #fff;
    background-color: var(--button);
}

h2{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    line-height: 48px;
    margin: 20px 0;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.bar{
    background-color: var(--green);
    width: 168px;
    height: 22px;
}

.header--area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header--right{
    display: flex;
}

.header--left img{
    width: 64px;
}

.header--search form{
    display: flex;
}

.header--search input{
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid var(--gray-border);
    outline: 0;
    width: 100%;
    min-width: 250px;
    padding: 8px;
}

.header--search button{
    border:0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img{
    width: 16px;
    height: 16px; 
}

.header--menu{
    margin-left: 50px;
}

.header--menu img{
    width: 25px;
    cursor: pointer;
    padding-top: 5px;
}

/* SECTION BANNER  */

.banner{
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner h1{
    font-size: 100px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    line-height: 90px;
    margin: 0;
}

.banner .container p{
    padding-top: 50px;
}

.banner--images{
    padding-top: 60px;
}

.banner--images img{
    width: 148px;
    border: 6px solid var(--green);
    border-radius: 50%;
    margin-right: 40px; 
}


/* SECTION AREA 1 */

.area1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content{
    padding: 90px;

}

.area1--img1{
    height: 350px;
    background-image: url("../images/f2.jpg");
    background-size: cover;
    background-position: center;
}

.area1--img2{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url("../images/f1.jpg");
    background-size: cover;
    background-position: center;
}

.area1--quote{
    margin-bottom: 30px;
}

.area1--text{
    margin-bottom: 50px;
    line-height: 30px;
}

/* SECTION AREA 2 */

.area2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2--content{
    padding: 90px;

}

.area2--img1{
    height: 453px;
    background-image: url("../images/f4.jpg");
    background-size: cover;
    background-position: center;
}

.area2--img2{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url("../images/f3.jpg");
    background-size: cover;
    background-position: center;
}

.area2--text{
    margin-bottom: 50px;
    line-height: 30px;
}

/* SECTION AREA 3 */

.area3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3--content{
    padding: 300px 100px;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-position: left;
}

.area3--text{
    margin-bottom: 40px;
}

.area3--img1{
    background-image: url("../images/f5.jpg");
    background-size: cover;
    background-position: center;
}

.area4{
    display: grid;
    grid-template-columns: 600px 1fr;
    background-color: #eBe9ee;
}

.area4--content{
    padding: 160px;
}

.area4--text{
    margin-bottom: 50px;
    line-height: 25px;
}

.area4--img1{
    background-image: url("../images/bg3.jpg");
    background-repeat: no-repeat;
    background-position: left;
}

/* SECTION AREA 5 */

.area5--content{
    background-image: url("../images/bg4.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    margin-top: 10px;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 80px;
    text-align: center;
}   

footer a{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

footer a:hover{
    color: var(--green);
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1140px)
{
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 428px) and (max-width: 768px){
    .container{
        padding-left: 20px;
        padding-right: 20px;    
    }

    .area1, .area3 {
        grid-template-columns: 3fr 2fr;
    }

    .area3 {
        grid-template-columns: 2fr 3fr;
    }

}

@media  (max-width: 428px){

    .container{
        padding-left: 20px;
        padding-right: 20px;    
    }

    .header--search input{
        min-width: 30px;
    }

    .container h1{
        font-size: 60px;
        line-height: 58px;
    }

    h2{
        font-size: 25px;
        line-height: 30px;
    }

    .banner--images img{
        width: 90px;
        border: 5px solid var(--green);
        margin-right: 10px;

    }

    .area1, 
    .area2,
    .area3,
    .area4{
        grid-template-columns: 1fr;
    }

    .area1--content,
    .area2--content,
    .area3--content,
    .area4--content{
        padding: 40px;
    }

    .area5--content{
        height: 200px;
    }

    footer{
        font-size: 13px;
        padding: 20px;
    }

    footer a{
        color: var(--green);
    }



}